#a{width: 90%;
	height: 50px;
	background-color: rgba(255,0,0,0.1);
	text-align: center;
	  margin: auto;}
	
	.a1{width: 150px;
	height: 50px;
	background-color: transparent;
	padding-top: 1px;
	margin-left: 50px;
	float: left;
	font:楷书;
	color: black;
	text-align: center;}
	
	#a2{margin-left: 60px;
	margin-top: 10px;
	float: left;
	color: #FF0000;
	font-weight: 900;
	font-family: "宋体";}
	
	.aa1{border: #000000 0px solid;
	margin:10px auto;
	padding-left:5px;
	font-weight: 900;
	font-size: larger;}
	
	#i1{width: 540px;
	height: 70px;
	margin: auto;
	/* border: #000000 1px solid; */
	font-size: 30px;
	font-weight: 900;
	color: black;}
	
	#i2{width: 550px;
	height: 680px;
	margin-left: 100px;
	border: #000000 0px solid;
	color: black;
	font-size: 15px;
	float: left;}
	
	#i0{width: 80%;
	height: 1330px;
	border: #000000 0px solid;
	margin: auto;}
	
	#i3{width: 550px;
	height: 680px;
	margin-left: 90px;
	/* border: #000000 1px solid; */
	color: black;
	font-size: 15px;
	float: left;}
	
	#i4{width: 1240px;
	height: 500px;
	/* border: #000000 1px solid; */
	float: left;
	margin-left: 75px;
	margin-top: 20px;
	}
	
	#i5{width: 100%;
	height: 50px;
	/* border: #000000 1px solid; */
	float: left;
	font-size: 30px;
	color: red;
	font-weight: 600;}
	
	#f7{width: 100px;
	height: 200px;
	/* border: #000000 1px solid; */
	position: fixed;
	right:150px ;
	top: 100px;
	}
			   
	li:hover{color: #ff0000;
	background-color: whitesmoke;}
	
	li{font-size: 19px;
	font-weight: 600;
	color: #AA0000;}
	
	button{background-color: papayawhip;}
	
	#g5{width: 80%;
	height: 100px;
	border-bottom: #000000 5px double;
	border-top: #000000 5px double;
	margin: auto;
	font-size: 20px;
	font-weight: 500;
	color: black;
	}
	
	span{text-decoration: line-through;
	font-size: 14px;}